# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual environment ---
venv/
.env/

# --- Django ---
db.sqlite3
/static/
/staticfiles/
/media/
/*.log

# --- Model weights or large files ---
*.pt
data/

# --- System / IDE ---
.DS_Store
.vscode/
.idea/

# --- AWS credentials or keys ---
*.pem

# --- Misc ---
*.bak
*.tmp
